fsharp/hamming/.config/
fsharp/hamming/.exercism/
fsharp/hamming/.ionide/
fsharp/hamming/Hamming.fsproj
fsharp/hamming/README.md
fsharp/hamming/bin/
fsharp/hamming/obj/
fsharp/hello-world/.config/
fsharp/hello-world/.exercism/
fsharp/hello-world/.ionide/
fsharp/hello-world/HelloWorld.fsproj
fsharp/hello-world/README.md
fsharp/hello-world/bin/
fsharp/hello-world/obj/

#fsharp/isogram/

fsharp/pangram/.config/
fsharp/pangram/.exercism/
fsharp/pangram/.ionide/
fsharp/pangram/Pangram.fsproj
fsharp/pangram/README.md
fsharp/pangram/bin/
fsharp/pangram/obj/
fsharp/two-fer/.config/
fsharp/two-fer/.exercism/
fsharp/two-fer/.ionide/
fsharp/two-fer/README.md
fsharp/two-fer/TwoFer.fsproj
fsharp/two-fer/bin/
fsharp/two-fer/obj/
